<h1>User and Posts</h1>
<%= link_to users_path, class: 'goback' do %><span>&laquo; Go Back </span><% end %>
<section class="section-index-users">

	<%= render 'partials/users', use: @user %>

	<div class="bio-container">
    <h3 class="bio-title">Bio<h3>
    <p class="bio-text"><%= @user.bio %></p>
  </div>

	<%= render 'partials/posts'%>

	<%= link_to user_posts_path(@user), class: 'link-btn' do %>
    <button type="button" class="see-all-posts-btn">
      See All Posts
    </button>
  <% end %>
</section>