<h1>Log in</h1>

<section class="section-index-users">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>

    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me, class: 'check-box' %>
      <%= f.label :remember_me, class: 'check-box' %><br />
    <% end %>

    <%= f.submit "Log in", class: 'button' %>
  <% end %>

  <%= render "devise/shared/links", class: 'check-box' %>

</section>