<h1>The Post whit all its commnets</h1>
<%= link_to user_posts_path, class: 'goback' do %><span>&laquo; Go Back </span><% end %>

<section class="section-index-users">
  <div class="post-container" >
    <h3 class="post-title"><%= @post.title %></h3>
    <p class="post-text"><%= @post.text %></p>
    <aside class="comment-like">
      <span class="comments">Comments: <%= @post.comments_counter %></span>
      <span class="likes">
        <%= @post.likes_counter %>
      </span>
          
      <%= form_with model: Like.new, url: user_post_likes_path(@user, @post) do |form| %>
        <% form.submit :♥,  class:"like-btn"%>
      <% end %>

    <aside>
  </div>

  <div class="post-comment">
	  <p><u><strong>Post Comments:</strong></u></p>
	  <% @post.comments.reverse.each do |comment| %>
		  <p>
        <span><strong><%= comment.author.name %>:</strong></span>
        <span><em><%= comment.text %></em></span>
		  </p>
    <% end %>
  </div>

  <%= link_to new_user_post_comment_path(@user, @post) do %>
    <button type="button" class="button">
      New Comment
    </button>
  <% end %>

</section>