<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header class="header">
      <%=link_to "HOME", root_path, class: 'home'%>
      <div>
        <% unless current_user %>
        <li class="in">
          <%=link_to "Signin", new_user_session_path, class: ''%>
        </li>
        <li class="up">
          <%=link_to "Signup", new_user_registration_path, class: ''%>
        </li>
        <% end %>
        <% if current_user %>
          <li class="user-name"><a href="#" class="home">Hi, <%= current_user.name%> </a></li>
          <li class="log-out"><%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'button', style: 'width: 100px;'%></li>
        <%end%>
      </div>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
